<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="jumbotron text-center">
        <h1 class="display-3">Thank You!</h1>
        <p class="lead">“Champions do not become champions when they win the event, but in the hours, weeks, months and
            years they spend preparing for it. The victorious performance itself is merely the demonstration of their
            championship character.”</p>
        <hr>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="http://is-s1848:7000" role="button">Continue to homepage</a>
        </p>
    </div>

</body>

</html>